* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}

footer {
    background-color: black;
    color: white;
}


.img-carousel:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.img-carousel {
    overflow: hidden;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

#top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
}

@media only screen and (min-width: 1024px) {
    .col-1 {
        width: 8.333%;
    }
    .col-2 {
        width: 16.666%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.333%;
    }
    .col-5 {
        width: 41.666%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.333%;
    }
    .col-8 {
        width: 66.666%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.333%;
    }
    .col-11 {
        width: 91.333%;
    }
    .col-12 {
        width: 100%;
    }

    #copyright {
        padding-left: 42%;
    }

    #top-button {
        font-size: 18px;
        padding: 15px;
    }
}
